<!-- container -->
<div class="row my-10">
  <!-- main content -->
  <div class="col-9 ">
    <!-- modal -->
    <div class="modal" id="attachment-modal">
      <!-- modal structure -->
      <a href="#" id="closebtn" class="modal-overlay close-btn" aria-label="Close"></a>
      <div class="modal-content" role="document">
        <!-- modal header -->
        <div class="modal-header">
          <a href="#components" class="u-pull-right" aria-label="Close">
            <span class="icon">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11 fa-wrapper" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
              </svg>
            </span>
          </a>
          <div class="modal-title">Add attachments</div>
        </div>
        <!-- modal header end -->
        <!-- modal form -->
        <%= simple_form_for([@session, @attachment]) do |f| %>
        <div class="modal-body">
          <%= f.input :attachment_type, collection: Attachment.attachment_types.keys %>
          <%= f.input :name %>
          <%= f.input :url %>
        </div>
        <div class="modal-footer u-text-right">
          <%= f.button :submit, class: 'btn-link btn-small' %>
        </div>
        <% end %>
        <!-- modal form end -->
      </div>
      <!-- modal structure end -->
    </div>
    <!-- modal end -->
    <!-- title  -->
    <section class="pt-6">
      <div class="content">
        <h1 class="headline-3"><%= @session.name %></h1>
      </div>
    </section>
    <!-- title end  -->
    <!-- videos -->
    <% unless @videos.empty? %>
    <section class="pt-3">
      <div class="content">
        <% @videos.each do |video| %>
        <div class="my-3">
          <iframe width=100% height="315" src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <samp><%= video.name %></samp>
        </div>
        <% end %>
      </div>
    </section>
    <% end %>
    <!-- videos end -->
    <!-- content -->
    <section class="pt-6">
      <div class="content">
        <p><%= @session.content %></p>
      </div>
    </section>
    <!-- content end -->
    <!-- images-->
    <% unless @session.photos.empty? %>
    <section class="pt-3">
      <div class="content">
        <h2>Gallery</h2>
        <% @session.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </section>
    <% end %>
    <!-- images end -->
    <!-- reading list -->
    <% unless @readings.empty? %>
    <section class="pt-6">
      <div class="content">
        <h2>Suggested Reading List</h2>
        <div class="divider"></div>
        <% @readings.each do |reading| %>
        <div class="tile tile--center mb-3">
          <% if reading.url.empty? %>
          <div class="tile__icon">
            <div class="avatar avatar--small u-center bg-teal-300 text-gray-000"><i class="fas fa-book"></i></div>
          </div>
          <div class="tile__container">
            <p class="tile__title m-0"><%= reading.name %></p>
          </div>
          <% else %>
          <div class="tile__icon">
            <div class="avatar avatar--small u-center bg-teal-300 text-gray-000"><i class="far fa-file-alt"></i></div>
          </div>
          <div class="tile__container">
            <a href="<%= reading.url %>" class="tile__title m-0"><%= reading.name %></a>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </section>
    <% end %>
    <!-- reading list end -->
    <!-- quiz -->
    <% unless @quizzes.empty? %>
    <section class="pt-6">
      <div class="content">
        <h2>Test your Knowlegde</h2>
        <div class="divider"></div>
        <% @quizzes.each do |quiz| %>
        <div class="card" style="max-width: 250px;">
          <div class="content u-text-center pt-5 pb-2">
            <i class="fas fa-check fa-3x text-purple-600"></i>
            <p><%= quiz.name %></p>
            <a class="btn outline text-teal-400 mb-2" href="<%= quiz.url %>">Take the Quiz</a>
          </div>
        </div>
        <% end %>
      </div>
    </section>
    <% end %>
    <!-- quiz end -->
  </div>
  <!-- main content end -->
  <!-- sidebar -->
  <div class="col-3">
    <!-- sidebar flexbox -->
    <div class="u-pull-right u-position-fixed" id="sidebar">
      <div class="space large my-3"></div>
      <!-- sidebox -->
      <div class="sidebox">
        <h6 class="sidebox__title text-purple-100 mb-0 pb-1">Share</h6>
        <!-- sidebox content-->
        <div class="content text-purple-100">
          <!-- copy input -->
          <div class="form-section">
            <div class="input-control" id="copy">
              <input
                class="input-contains-icon text-purple-100"
                id="url"
                name="url"
                placeholder="<%= @url %>"
                type="text"
                value="<%= @url %>"
                />
              <span class="icon">
              <i
                class="far fa-wrapper far fa-copy"
                ></i>
              </span>
            </div>
          </div>
          <!-- copy input end -->
          <!-- social share buttons -->
          <div class="u-text-center mt-2">
            <%= social_share_button_tag(@session.name) %>
          </div>
          <!-- social share buttons end -->
        </div>
        <!-- sidebox content end-->
      </div>
      <!-- sidebox end -->
      <!-- buttons -->
      <div class="btn-container mt-2">
        <!-- button group -->
        <div class="u-flex w-100">
            <!-- update button -->
            <%= link_to 'Update Session', edit_session_path(@session), class: 'btn bg-purple-400 text-light w-50 mr-half' %>
            <!-- update button end -->
            <!-- destroy button -->
           <%= link_to 'Destroy Session', edit_session_path(@session), class: 'btn bg-purple-400 text-light w-50 ml-half' %>
            <!-- destroy button end -->
        </div>
        <!-- button group end -->
        <!-- modal button -->
        <div>
          <button class="btn bg-purple-200 text-gray-700 w-100 btn-large" id="modal-opener">Add video<i class="ml-half fab fa-youtube"></i>, readings<i class="mx-half fas fa-book"></i> or a quiz!<i class="ml-half fas fa-check"></i></button>
        </div>
        <!-- modal button end -->


        <!-- videocall button -->
        <% unless @session.video_call.empty? %>
        <div>
          <a class="btn bg-teal-200 text-gray-800 w-100 mt-2 mb-0 btn-large" href="<%= @session.video_call %>">
          Join the meeting<i class="ml-1 fas fa-video"></i>
          </a>
        </div>
        <% end %>
        <!-- videocall button end -->
      </div>
      <!-- buttons end -->
    </div>
    <!-- sidebar flexbox end -->
  </div>
  <!-- sidebar end -->
</div>
<!-- container end -->

