 <!-- hero -->
 <div class="hero fullscreen mb-10 mt-5">
  <div class="hero-body">
    <div class="content mt-12">

      <!-- form starts -->
      <%= simple_form_for @study_group, html: { class: "frame p-0"} do |f| %>
      <div class="frame__body p-0">
        <div class="row p-0 level fill-height">
          <div class="col-6 p-0 bg"></div>
          <div class="col-6">
            <div class="space xlarge"></div>
            <!-- <div class="space xlarge"></div> -->
            <div class="padded">

              <!-- title -->
              <h3>Create Study Group</h3>

              <!-- name -->
              <div class="form-section mt-3">
                <%= f.label :name %>
                <div class="input-control">
                  <%= f.input_field :name, class: 'input-contains-icon', placeholder: 'Name' %>
                  <span class="icon"><i class="far fa-wrapper fa-user-circle small"></i></span>
                </div>
              </div>

              <!-- description -->
              <div class="form-section mt-3">
                <%= f.label :description %>
                <div class="input-control">
                  <%= f.input_field :description, placeholder: 'What is your group about?' %>
                </div>
              </div>

              <!-- options -->
              <div class="form-section form-ext-checkbox mt-2">
                <%= f.input_field :create_sessions, class: 'form-ext-input' %>
                <%= f.label :create_sessions, label: 'Allow members to create sessions?', class: 'form-ext-label' %>
              </div>
              <div class="form-section form-ext-checkbox">
                <%= f.input_field :edit_session, class: 'form-ext-input' %>
                <%= f.label :edit_session, label: 'Allow members to edit sessions?', class: 'form-ext-label' %>
              </div>

              <!-- submit -->
              <%= f.button :submit, class: 'btn-primary u-pull-right mt-4 mb-12' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


