
<div class="grid mt-10">
  <div class="grid-cs-3 grid-ce-10">

<h2>Create a new Study Group</h2>
<%= simple_form_for @study_group do |f| %>
<%= f.input :creator_id %>
<%= f.input :name %>
<%= f.input :create_sessions %>
<%= f.input :edit_session %>
<%= f.button :submit %>
<% end %>
</div>
</div>
