<div class="grid mt-16">
  <div class="grid-cs-2 grid-ce-10">
    <section>
      <div class="content">
        <h1 class="headline-4 mb-6"><%= @study_group.name %></h1>
        <div id="card-container" class="u-flex">
          <%= link_to new_study_group_session_path(@study_group), class: "text-decoration-none" do %>
          <div class="card mr-4 u-justify-center " >
              <div class="content mb-0">

                  <p class="title mt-2 mb-0">New session</p>

              </div>
              <div class="u-text-center">
                 <p class="gray-900 headline-2">+</p>
              </div>
          </div>

          <% end %>

          <% @sessions.each do |session| %>
          <%= link_to session_path(session), class: "text-decoration-none" do %>

            <div class="card mr-4">
              <div class="card-head">
                <p class="card-head-title gray-700"><%= session.name %></p>
              </div>
              <div class="content">
                <p class="gray-900 mb-5"><%= session.content.truncate(140) %></p>
              </div>
              <div class="card-footer level content"><%= session.date %></div>
            </div>

          <% end %>
          <% end %>
        </div>


        </div>

    </section>
  </div>
</div>
</body>
</html>
