        <div class="grid grid-cols-2 pt-8 pb-3 hidden">
          <div class="grid grid-gap-1">
              <div class="grid-c-2 grid-r-6"></div>
              <%= image_tag  "logo-home.png", class: "grid-c-10" %>
              <h6 class="home grid-c-8 grid-r-2">Beautiful, organized pages with all the material your study group will need. Studying made easy</h6>
              <div class="grid-c-2 grid-r-2"></div>
              <%= button_to "CREATE YOUR OWN STUDY GROUP", new_study_group_path, :method => :get, class: "outline btn-link btn-outline-group grid-c-9" %>
              <!-- <button class="btn-transparent text-teal-400 btn-outline-session grid-c-11">CREATE A SESSION</button> -->
          </div>

          <div class="grid grid-gap-1">
            <div class="grid-c-10 grid-r-2"></div>
            <%= image_tag "home1.png", class: "grid-c-8 grid-r-4" %>
            <div class="grid-c-2 grid-r-6"></div>
          </div>
        </div>


        <div class="grid grid-cols-2 bg-teal-100">
          <div class="grid grid-gap-1 py-3">
            <div class="grid-c-2 grid-r-6"></div>
            <div class="grid-c-10"></div>
            <h2 class="grid-c-10">But how does it works?</h2>
            <p class="grid-c-9 grid-r-3">On studysmart you can quickly build a beautiful page with all the resources you need for studying. Videos, images, pdfs, even quizes! Now you don’t have to send emails full of attachments or send multiple files in group chats that easily get lost.</p>
            <div class="grid-c-1"></div>
            <p class="grid-c-9"><b>You just have to send a link!</b> And if someone missed that study session, or want to review the material later, it will all be organized inside your study group.</p>
          </div>
          <%= image_tag "home2.png", class: "py-5" %>
        </div>

        <div class="grid grid-cols-2">
          <div class="grid py-5">
            <div class="grid grid-c-2"></div>
            <%= image_tag "home3.png", class: "grid grid-c-8 grid-r-7 mb-3" %>
            <div class="grid-c-2"></div>
            <div class="grid-c-5"></div>

          </div>
          <div class="grid grid-gap-1 pt-5">
            <div class="grid-c-3"></div>
            <h2 class="grid-c-5 grid-r-1">Ready to start?</h2>
            <div class="grid-c-4 grid-r-6"></div>
            <div class="bg-purple-100 grid-c-8 grid-r-2 p-1">
              <p>You can create your study group and invite all your friends! They’ll have easy access to every study session you create for that group. </p>
            </div>
            <!-- <div class="grid-c-2 grid-r-1">OR</div> -->
            <!-- <div class="grid-c-5"></div> -->
            <!-- <div class="grid-c-1"></div> -->
            <!-- <div class="bg-teal-100 grid-c-9 grid-r-2 p-2"> -->
              <!-- <p>You can create a single study session, to quickly share with your friends or coworkers!</p> -->
            <!-- </div> -->
            <div class="grid-c-8"></div>
            <div class="grid-c-2"></div>
            <%= button_to "Create your own study group", new_study_group_path, :method => :get, class: "btn-link grid-c-4 btn-group" %>
            <div class="grid-c-2 grid-r-6"></div>
            <!-- <div class="grid-c-2"></div> -->
            <!-- <button class="bg-teal-400 text-light grid-c-6 btn-session">Create a Session</button> -->
          </div>
        </div>


        <script async src="../../../res/js/test.js"></script>

        <script src="https://use.fontawesome.com/a696b91557.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40470494-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-40470494-2');
        </script>
        <div class="footer">
        <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
            This footer is made with <i class="fas fa-heart"></i> at Le Wagon
        </div>
        </div>


