<div class="row mt-10">
  <!-- start -->
  <div class="col-12 u-center u-items-center pb-3">
    <section class="w-70 u-flex u-flex-column">
      <%= image_tag  "logo.svg", class: "col-sm-6" %>
      <div class="u-flex u-justify-space-between mt-4 row p-0 mr-0">
        <div class="col-sm-6 u-flex u-flex-column u-justify-center mb-3">
          <p class="big-lead pb-2">
            Studying together should be fun! Tired of losing study material scattered through email chains and group chats? Try studysmart.
          </p>
          <p class="big-lead pb-3">
            <strong>Beautiful</strong>, organized pages with all the material your study group will need. Studying made easy.
          </p>




            <%= button_to "CREATE YOUR OWN STUDY GROUP", new_study_group_path, :method => :get, class: "btn outline btn-primary large-padded btn-large u-text-break" %>


        </div>
        <div class="col-sm-6 mb-3 u-text-right">
          <%= image_tag "home1.svg", class: "pl-1" %>
        </div>
      </div>
    </section>
  </div>
  <!-- how it works -->
  <div class="col-12 u-center bg-teal-100 py-3">
    <section class="w-70 u-flex u-flex-column">
      <div class="u-flex u-justify-space-between mt-4 row p-0 mr-0">
        <div class="col-sm-6 u-flex u-flex-column u-justify-center mb-3">
          <h2>But how does it work?</h2>
          <p>On studysmart you can quickly build a beautiful page with all the resources you need for studying. Videos, images, pdfs, even quizes! Now you don’t have to send emails full of attachments or send multiple files in group chats that easily get lost.</p>
          <p><b>You just have to send a link!</b> And if someone missed that study session, or want to review the material later, it will all be organized inside your study group.</p>
        </div>
        <div class="col-sm-6 u-flex u-items-center u-justify-flex-end mb-3">
          <%= image_tag "home2.svg", class: "u-pull-right self-center" %>
        </div>
      </div>
    </section>
  </div>
  <!-- ready to start -->
  <div class="col-12 u-center py-3">
    <section class="w-70 u-flex u-flex-column">

      <div class="u-flex u-justify-space-between mt-4 row p-0 mr-0">
        <div class="col-sm-6 mb-3 u-flex u-items-center">
          <%= image_tag "home3.svg" %>
        </div>
        <div class="col-sm-6 u-flex u-flex-column u-justify-center-end mb-3 u-items-flex-end">
          <h2 class="u-text-right pb-2">Ready to start?</h2>
          <div class="bg-purple-100 py-4 px-3 w-80">
            <p class="u-text-right">
              You can create your study group and invite all your friends! They’ll have easy access to every study session you create for that group.
            </p>
          </div>
          <div class="w-80">
            <p class="u-text-center lead mt-2">OR</p>
          </div>

          <div class="bg-teal-100 py-4 px-3 w-80">
            <p class="u-text-right">
              You can create a single study session, to quickly share with your friends or coworkers!
            </p>
          </div>
        </div>
        <div class="col-12 mb-3 u-flex u-justify-center">
          <div class="mt-3 mb-3 u-flex u-justify-space-between w-40 wrap">
            <%= button_to "Create your own study group", new_study_group_path, :method => :get, class: "btn-link btn-group" %>
            <%= button_to "Create a session", new_study_group_path, :method => :get, class: "bg-teal-400 text-light btn-group" %>
          </div>
        </div>
      </div>
      </div>
    </section>
  </div>
</div>
