<!-- main container -->
<div class="row w-60 u-center mt-16 u-items-flex-start">

  <!-- first section -->
  <div class="col-12 pb-3">

    <!-- name -->
    <section>
      <h1 class="headline-3">Hi <%= current_user.first_name %>!</h1>
    </section>
    <!-- name end -->

    <!-- next session box -->
    <section class="mt-8 pt-4 bg-purple-100">
      <!-- flexbox -->
      <div class="u-flex u-items-flex-end u-justify-space-between">
        <!-- box text content -->
        <div class="mb-5 ml-5 w-60">
          <!-- box text -->
          <h2 class="text-purple-700 pb-2">your next session</h2>
          <h6 class="font-light u-pull-right font-smaller btn bg-teal-200 text-gray-700 u-text-left btn--pilled mr-4">on <%= @next_session.date.to_formatted_s(:short) %></h6>
          <h4><%= @next_session.name %></h4>
          <p class="mb-3"><%= @next_session.content.to_plain_text.truncate(280) %></p>
          <!-- box text end -->
          <!-- box buttons -->
          <div class="u-flex u-items-center">
            <%= button_to "go to session", session_path(@next_session), :method => :get, class: "bg-purple-500 text-light btn-large mr-1" %>
            <a href="<%= @next_session.video_call =%>" class="bg-teal-300 text-light btn btn-large"><i class="ml-1 fas fa-video py-1"></i></a>
          </div>
          <!-- box buttons end -->
        </div>
        <!-- box content end -->

        <!-- image -->
        <div class="mr-4 ml-4">
          <%= image_tag "profile1.svg", class: "u-pull-right" %>
        </div>
        <!-- image end -->
      </div>
      <!-- flexbox end -->
    </section>
    <!-- next session box end -->
  </div>
  <!-- first section end -->

  <!-- second section // sessions -->
  <div class="col-sm-8 my-3">
    <h2>upcoming sessions</h2>
    <!-- session cards -->
    <div class="row">
      <% @upcoming_sessions.each do |session| %>
      <div class="col frame bg-purple-600 mr-1 mb-1" style="min-width: 15em;">
        <%= link_to session_path(session), class: "p-0 text-light" do %>
        <div class="frame-header">
          <p class="title px-2 my-3"> <span class="bg-gray-100 text-purple-700 p-1 u-round"><%= session.name.upcase %></span></p>
        </div>
        <% end %>
        <div class="frame__body text-light">
          <p class="frame__subtitle text-light m-0"><%= session.content.to_plain_text.truncate(80) %></p>
        </div>
        <div class="frame__footer">
          <p class="frame__subtitle m-0 text-light u-text-right mb-2"> <span class="btn bg-purple-500 text-light btn--pilled">on <%= session.date.to_formatted_s(:short) %></span></p>
        </div>
      </div>
      <% end %>
    </div>
    <!-- session cards end -->
  </div>
  <!-- second section // sessions end -->
  <!-- third section // study groups -->
  <div class="col-sm-4 u-flex my-3">
    <!-- flexbox -->
    <div class="bg-teal-100 p-2 u-flex u-flex-column">
      <!-- new study group button -->
      <%= button_to "new study group", new_study_group_path, :method => :get, class: "outline btn-primary w-100" %>
      <!-- new study group button end -->
      <!-- study group cards -->
      <% @study_groups.each do |group| %>
      <div class="frame bg-light mb-2">
        <div class="frame__body">
          <%= link_to study_group_path(group), class: "p-0" do %>
          <p class="title"><%= group.name.upcase %></p>
          <% end %>
          <p class="frame__subtitle m-0"><%= group.description %></p>
        </div>
        <div class="frame__footer u-inline-flex u-items-center">
          <%= link_to new_study_group_session_path(group), :method => :get, class: "mr-1" do %><i class="fas fa-plus"></i> session<% end %>
          <a href="#" class="mr-1"><i class="fas fa-edit"></i></a>
          <a href="#" class=""><i class="far fa-trash-alt"></i></a>
        </div>
      </div>
      <% end %>
      <!-- study group cards -->
    </div>
    <!-- flexbox end -->
    <!-- study groups title -->
    <h2 class="vertical-rl p-2 u-round bg-teal-100 text-purple-700 self-flex-start"> your study groups
    </h2>
    <!-- study groups title end -->
  </div>
  <!-- third section // study groups end -->
</div>

