 <!-- hero -->
 <div class="hero fullscreen">
  <div class="hero-body">
    <div class="content">

      <!-- form starts -->
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "frame p-0"}) do |f| %>
      <%= f.error_notification %>
      <div class="frame__body p-0">
        <div class="row p-0 level fill-height">
          <div class="col-6 p-0 bg"></div>
          <div class="col-6">
            <div class="space xlarge"></div>
            <div class="space xlarge"></div>
            <div class="padded">

              <!-- title  -->
              <h3>Login</h3>

              <!-- email  -->
              <div class="form-section mt-3">
                <div class="input-control">
                  <%= f.input_field :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, class: 'input-contains-icon', placeholder: 'Email' %>
                  <span class="icon"><i class="far fa-wrapper fa-envelope-open small"></i></span>
                </div>
              </div>

              <!-- password -->
              <div class="form-section mt-3">
                <div class="input-control">
                  <%= f.input_field :password,
                    required: false,
                    input_html: { autocomplete: "current-password" }, class: 'input-contains-icon', placeholder: 'Your password' %>
                  <span class="icon"><i class="fas fa-wrapper fa-key small"></i></span>
                </div>
              </div>


              <!-- remember  -->
              <div class="form-section form-ext-checkbox mt-2">
                <%= f.input_field :remember_me, as: :boolean, input_html: { class: 'form-ext-input' }  %>
                <%= f.label :remember_me, label: 'Remember me', class: 'form-ext-label' %>
              </div>

              <div class="u-text-right">
                <%= f.button :submit, "Login", class: 'btn-primary my-3' %>
              </div>

              <div class="u-text-right">
                <%= render "devise/shared/links" %>
              </div>
              <div class="space xlarge"></div>
            <div class="space xlarge"></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



